{% include 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- END LOADER -->

    <!-- START HEADER -->
    {% include 'include/header.html' %}
    <!-- END HEADER -->

    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section background_bg overlay_bg_50 page_title_light"
        data-img-src="{% static 'assets/images/about_bg2.jpg' %}">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>About Us 2</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">About Us</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->

    <!-- START SECTION ABOUT -->
    <div class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about_box box_shadow1">
                        <div class="heading_s1">
                            <span class="sub_heading font_style1">About Us</span>
                            <h2>our restaurant History</h2>
                        </div>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                            embarrassing hidden in the middle of text.All the Lorem Ipsum generators on the Internet
                            tend to repeat predefined chunks as necessary</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. consequuntur quibusdam enim expedita
                            sed nesciunt incidunt accusamus adipisci officia libero laboriosam!</p>
                        <a class="btn btn-dark rounded-0" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="fancy_style1 overlay_bg_20">
                        <img src="{% static 'assets/images/about_img5.jpg' %}" alt="about_img5" />
                        <a href="https://www.youtube.com/watch?v=ZE2HxTmxfrI"
                            class="btn btn-ripple ripple_center video_popup animation" data-animation="fadeInUp"
                            data-animation-delay="0.6s"><span class="ripple"><i class="ion-play"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION ABOUT -->

    <!-- START SECTION COUNTER -->
    <div class="section parallax_bg overlay_bg_70" data-parallax-bg-image="{% static 'assets/images/counter_bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="box_counter counter_white text-center">
                        <i class="flaticon-restaurant"></i>
                        <h3 class="counter_text"><span class="counter" data-from="0" data-to="200" data-speed="1000"
                                data-refresh-interval="10"></span>+</h3>
                        <p>Amazing Dishes</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                    <div class="box_counter counter_white text-center">
                        <i class="flaticon-contact"></i>
                        <h3 class="counter_text"><span class="counter" data-from="0" data-to="1500" data-speed="1000"
                                data-refresh-interval="10"></span>+</h3>
                        <p>Happy Customers</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                    <div class="box_counter counter_white text-center">
                        <i class="flaticon-chef"></i>
                        <h3 class="counter_text"><span class="counter" data-from="0" data-to="700" data-speed="1000"
                                data-refresh-interval="10"></span>+</h3>
                        <p>Satified Staff</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                    <div class="box_counter counter_white text-center">
                        <i class="flaticon-back-in-time"></i>
                        <h3 class="counter_text"><span class="counter" data-from="0" data-to="1500" data-speed="1000"
                                data-refresh-interval="10"></span>+</h3>
                        <p>Work Hour</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION COUNTER -->

    <!-- START SECTION MOBILE APP -->
    <div class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="heading_s1">
                        <span class="sub_heading font_style1">Put in Your Pocket</span>
                        <h2>Download Our Mobile App</h2>
                    </div>
                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                        embarrassing hidden in the middle of text.All the Lorem Ipsum generators on the Internet tend to
                        repeat predefined chunks as necessary</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. consequuntur quibusdam enim expedita sed
                        nesciunt incidunt accusamus adipisci officia libero laboriosam!</p>
                    <a class="btn btn-dark btn-radius" href="#"><i class="ion-social-apple"></i>App Store</a>
                    <a class="btn btn-default btn-radius" href="#"><i class="ion-social-android"></i>Play Store</a>
                </div>
                <div class="col-md-5 animation" data-animation="fadeInUp" data-animation-delay="0.03s">
                    <div class="mobile_app text-center">
                        <img src="{% static 'assets/images/mobile_app.png" alt="mobile_app" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION MOBILE APP -->

    <!-- START SECTION TEAM -->
    <div class="section bg_linen pb_70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="heading_s1 text-center">
                        <span class="sub_heading font_style1">Awesome Chef</span>
                        <h2>Our Team Members</h2>
                    </div>
                    <p class="text-center leads">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                    <div class="team_box team_style2">
                        <div class="team_img">
                            <img src="{% static 'assets/images/team_img1.jpg' %}" alt="team_img1">
                        </div>
                        <div class="team_content">
                            <div class="team_title">
                                <h4>Anders Stone</h4>
                                <span>Professor</span>
                            </div>
                            <ul class="social_icons">
                                <li><a href="#" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#" class="sc_google"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#" class="sc_instagram"><i class="ion-social-instagram-outline"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                    <div class="team_box team_style2">
                        <div class="team_img">
                            <img src="{% static 'assets/images/team_img2.jpg' %}" alt="team_img2">
                        </div>
                        <div class="team_content">
                            <div class="team_title">
                                <h4>Laura Martin</h4>
                                <span>Accounting</span>
                            </div>
                            <ul class="social_icons">
                                <li><a href="#" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#" class="sc_google"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#" class="sc_instagram"><i class="ion-social-instagram-outline"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                    <div class="team_box team_style2">
                        <div class="team_img">
                            <img src="{% static 'assets/images/team_img3.jpg' %}" alt="team_img3">
                        </div>
                        <div class="team_content">
                            <div class="team_title">
                                <h4>Adam Smith</h4>
                                <span>Ceo & Architer</span>
                            </div>
                            <ul class="social_icons">
                                <li><a href="#" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#" class="sc_google"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#" class="sc_instagram"><i class="ion-social-instagram-outline"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                    <div class="team_box team_style2">
                        <div class="team_img">
                            <img src="{% static 'assets/images/team_img4.jpg' %}" alt="team_img4">
                        </div>
                        <div class="team_content">
                            <div class="team_title">
                                <h4>Bruce Flores</h4>
                                <span>Accounting</span>
                            </div>
                            <ul class="social_icons">
                                <li><a href="#" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#" class="sc_google"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#" class="sc_instagram"><i class="ion-social-instagram-outline"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION TEAM -->

    <!-- START SECTION TESTIMONIAL -->
    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="heading_s1 mb-md-0 text-center">
                        <span class="sub_heading font_style1">Testimonial</span>
                        <h2>Our Client Say!</h2>
                    </div>
                    <div class="small_divider clearfix"></div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9 animation" data-animation="fadeInUp" data-animation-delay="0.03s">
                    <div class="testimonial_wrap radius_all_10 text-center">
                        <div class="slick_slider slick-thumb testi_thumb testi_thumb_style1" data-slides-to-show="5"
                            data-slides-to-scroll="1" data-as-nav-for=".testimonial_slider" data-focus-on-select="true"
                            data-center-mode="true" data-css-ease="linear" data-autoplay="true" data-draggable="false"
                            data-arrows="false" data-infinite="true">
                            <div class="item">
                                <div class="author_img">
                                    <img src="{% static 'assets/images/user1.jpg' %}" alt="user1">
                                </div>
                            </div>
                            <div class="item">
                                <div class="author_img">
                                    <img src="{% static 'assets/images/user2.jpg' %}" alt="user2">
                                </div>
                            </div>
                            <div class="item">
                                <div class="author_img">
                                    <img src="{% static 'assets/images/user3.jpg' %}" alt="user3">
                                </div>
                            </div>
                            <div class="item">
                                <div class="author_img">
                                    <img src="{% static 'assets/images/user4.jpg' %}" alt="user4">
                                </div>
                            </div>
                            <div class="item">
                                <div class="author_img">
                                    <img src="{% static 'assets/images/user5.jpg' %}" alt="user5">
                                </div>
                            </div>
                            <div class="item">
                                <div class="author_img">
                                    <img src="{% static 'assets/images/user6.jpg' %}" alt="user6">
                                </div>
                            </div>
                        </div>
                        <div class="testimonial_slider testimonial_style3 slick_slider nav_style1"
                            data-slides-to-show="1" data-slides-to-scroll="1" data-as-nav-for=".slick-thumb"
                            data-autoplay="true" data-infinite="true" data-arrows="false">
                            <div class="testimonial_box">
                                <div class="author_name">
                                    <h5>Lissa Castro</h5>
                                    <span>Designer</span>
                                </div>
                                <div class="testimonial_desc">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem elit amet
                                        laudantium, quaeillo inventore sed veritatis et quasi architecto beatae vitae
                                        dicta sunt explicabo eiusmod tempor incididunt ut labore which toil and pain can
                                        procure him some great pleasure.</p>
                                </div>
                            </div>
                            <div class="testimonial_box">
                                <div class="author_name">
                                    <h5>Alden Smith</h5>
                                    <span>Designer</span>
                                </div>
                                <div class="testimonial_desc">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem elit amet
                                        laudantium, quaeillo inventore sed veritatis et quasi architecto beatae vitae
                                        dicta sunt explicabo eiusmod tempor incididunt ut labore which toil and pain can
                                        procure him some great pleasure.</p>
                                </div>
                            </div>
                            <div class="testimonial_box">
                                <div class="author_name">
                                    <h5>Daisy Lana</h5>
                                    <span>Designer</span>
                                </div>
                                <div class="testimonial_desc">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem elit amet
                                        laudantium, quaeillo inventore sed veritatis et quasi architecto beatae vitae
                                        dicta sunt explicabo eiusmod tempor incididunt ut labore which toil and pain can
                                        procure him some great pleasure.</p>
                                </div>
                            </div>
                            <div class="testimonial_box">
                                <div class="author_name">
                                    <h5>John Becker</h5>
                                    <span>Designer</span>
                                </div>
                                <div class="testimonial_desc">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem elit amet
                                        laudantium, quaeillo inventore sed veritatis et quasi architecto beatae vitae
                                        dicta sunt explicabo eiusmod tempor incididunt ut labore which toil and pain can
                                        procure him some great pleasure.</p>
                                </div>
                            </div>
                            <div class="testimonial_box">
                                <div class="author_name">
                                    <h5>Maria Wood</h5>
                                    <span>Designer</span>
                                </div>
                                <div class="testimonial_desc">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem elit amet
                                        laudantium, quaeillo inventore sed veritatis et quasi architecto beatae vitae
                                        dicta sunt explicabo eiusmod tempor incididunt ut labore which toil and pain can
                                        procure him some great pleasure.</p>
                                </div>
                            </div>
                            <div class="testimonial_box">
                                <div class="author_name">
                                    <h5>Richard Clark</h5>
                                    <span>Designer</span>
                                </div>
                                <div class="testimonial_desc">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem elit amet
                                        laudantium, quaeillo inventore sed veritatis et quasi architecto beatae vitae
                                        dicta sunt explicabo eiusmod tempor incididunt ut labore which toil and pain can
                                        procure him some great pleasure.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION TESTIMONIAL -->

    <!-- START FOOTER -->
    {% include 'include/footer.html' %}
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
{% endblock %}