{% load static %}
<footer class="bg_dark footer_dark">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-8 col-sm-12">
                    <div class="widget">
                        <div class="footer_logo">
                            <a href="index-6.html"><img src="{% static 'assets/images/logo_light.png' %}" alt="logo" /></a>
                        </div>
                        <p>If you are going to use a passage of Lorem Ipsum you need to be sure there isn't anything
                            embarrassing hidden in the middle of text</p>
                    </div>
                    <div class="widget">
                        <ul class="social_icons social_white social_style1 rounded_social">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-5">
                    <div class="widget">
                        <h6 class="widget_title">Useful Links</h6>
                        <ul class="widget_links">
                            <li><a href="#">Our services</a></li>
                            <li><a href="#">Company history</a></li>
                            <li><a href="#">Support center</a>
                            <li><a href="#">Latest Projects</a></li>
                            <li><a href="#">Our Mission</a>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-7">
                    <div class="widget">
                        <h6 class="widget_title">Contact Info</h6>
                        <ul class="contact_info contact_info_light">
                            <li>
                                <i class="ti-location-pin"></i>
                                <p>Dew Drive Annapolis Junction California, USA</p>
                            </li>
                            <li>
                                <i class="ti-email"></i>
                                <a href="mailto:info@sitename.com">info@sitename.com</a>
                            </li>
                            <li>
                                <i class="ti-mobile"></i>
                                <p>508-992-5074</p>
                            </li>
                            <li>
                                <i class="ti-time"></i>
                                <p>Mon - Sat <strong>8:00AM - 9:30PM</strong> Sunday - <strong>8:00AM -
                                        9:30PM</strong></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <h6 class="widget_title">Instagram Feed</h6>
                        <ul class="widget_instafeed instafeed_col3">
                            <li><a href="#"><img src="{% static 'assets/images/insta_img1.jpg' %}" alt="insta_img"><span
                                        class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                            <li><a href="#"><img src="{% static 'assets/images/insta_img2.jpg' %}" alt="insta_img"><span
                                        class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                            <li><a href="#"><img src="{% static 'assets/images/insta_img3.jpg' %}" alt="insta_img"><span
                                        class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                            <li><a href="#"><img src="{% static 'assets/images/insta_img4.jpg' %}" alt="insta_img"><span
                                        class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                            <li><a href="#"><img src="{% static 'assets/images/insta_img5.jpg' %}" alt="insta_img"><span
                                        class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                            <li><a href="#"><img src="{% static 'assets/images/insta_img6.jpg' %}" alt="insta_img"><span
                                        class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bottom_footer border-top-tran">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-md-0 text-center text-md-left">© 2020 All Rights Reserved by <span
                                    class="text_default">Tashan</span></p>
                        </div>
                        <div class="col-md-6">
                            <ul class="list_none footer_link text-center text-md-right">
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>