{% include 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- END LOADER -->

    <!-- START HEADER -->
    {% include 'include/header.html' %}
    <!-- END HEADER -->

    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section background_bg overlay_bg_50 page_title_light"
        data-img-src="{% static 'assets/images/blog_detail_bg.jpg' %}">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Blog Detail</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Blog Detail</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->

    <!-- START SECTION BLOG -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="single_post">
                        <div class="blog_img">
                            <img src="{% static 'assets/images/blog_img1.jpg' %}" alt="blog_img1">
                        </div>
                        <div class="blog_content">
                            <div class="blog_text">
                                <h2 class="blog_title">The Sanford Stadium project of three main areas</h2>
                                <ul class="list_none blog_meta">
                                    <li><a href="#"><i class="ti-user"></i> By Admin</a></li>
                                    <li><a href="#"><i class="ti-calendar"></i> 02 May, 2020</a></li>
                                    <li><a href="#"><i class="ti-comments"></i> 2</a></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada
                                    malesuada metus ut placerat. Cras a porttitor quam, eget ornare sapien. In sit amet
                                    vulputate metus. Nullam eget rutrum nisl. Sed tincidunt lorem sed maximus interdum.
                                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean scelerisque
                                    efficitur mauris nec tincidunt. Ut cursus leo mi, eu ultricies magna faucibus id.
                                </p>
                                <blockquote class="blockquote_style1">
                                    <p>Integer is metus site turpis facilisis customers. elementum an mauris in
                                        venenatis consectetur east. Praesent condimentum bibendum Morbi sit amet commodo
                                        pellentesque at fringilla tincidunt risus.</p>
                                </blockquote>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single_img">
                                            <img class="w-100 mb-3 mb-md-4" src="{% static 'assets/images/blog_single_img1.jpg' %}"
                                                alt="blog_single_img1" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3 mb-md-4">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                                                malesuada malesuada metus ut placerat. Cras a porttitor quam, eget
                                                ornare sapien. In sit amet vulputate metus. Nullam eget rutrum nisl. Sed
                                                tincidunt lorem sed maximus interdum. Interdum et malesuada fames ipsum
                                                primis in faucibus. Aenean scelerisque mauris nec tincidunt. similique
                                                sunt in culpa officia animi tinctio.</p>
                                        </div>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dolor dui,
                                    dapibus gravida elit. Donec consequat laoreet sagittis. Suspendisse ultricies
                                    ultrices viverra. Morbi rhoncus laoreet tincidunt. Mauris interdum convallis metus.
                                    Suspendisse vel lacus est, sit amet tincidunt erat. Etiam purus sem, euismod eu
                                    vulputate eget, porta quis sapien. Donec tellus est, rhoncus vel scelerisque id.</p>
                                <p>Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend
                                    nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales
                                    volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus
                                    laoreet eget. Fusce vitae dui sit amet lacus rutrum convallis. Vivamus sit amet
                                    lectus venenatis est rhoncus interdum a vitae velit.</p>
                                <div class="blog_post_footer">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="col-md-8 mb-3 mb-md-0">
                                            <div class="artical_tags">
                                                <a href="#">General</a>
                                                <a href="#">Design</a>
                                                <a href="#">jQuery</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="social_icons text-md-right">
                                                <li><a href="#" class="sc_facebook"><i
                                                            class="ion-social-facebook"></i></a></li>
                                                <li><a href="#" class="sc_twitter"><i
                                                            class="ion-social-twitter"></i></a></li>
                                                <li><a href="#" class="sc_google"><i
                                                            class="ion-social-googleplus"></i></a></li>
                                                <li><a href="#" class="sc_youtube"><i
                                                            class="ion-social-youtube-outline"></i></a></li>
                                                <li><a href="#" class="sc_instagram"><i
                                                            class="ion-social-instagram-outline"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post_navigation py-3 border-top border-bottom">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-5">
                                <a href="#">
                                    <div class="post_nav post_nav_prev">
                                        <i class="ti-arrow-left"></i>
                                        <span class="text-uppercase nav_meta">Previous Post</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2">
                                <a href="#" class="post_nav_home">
                                    <i class="ti-layout-grid2"></i>
                                </a>
                            </div>
                            <div class="col-5">
                                <a href="#">
                                    <div class="post_nav post_nav_next">
                                        <i class="ti-arrow-right"></i>
                                        <span class="text-uppercase nav_meta">Next Post</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card post_author">
                        <div class="card-body">
                            <div class="author_img">
                                <img src="{% static 'assets/images/user1.jpg' %}" alt="user1">
                            </div>
                            <div class="author_info">
                                <h6 class="author_name"><a href="#" class="mb-1 d-inline-block">Cherieh Smith</a></h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="comment-area">
                        <div class="content_title">
                            <h5>(03) Comments</h5>
                        </div>
                        <ul class="list_none comment_list">
                            <li class="comment_info">
                                <div class="d-flex">
                                    <div class="comment_user">
                                        <img src="{% static 'assets/images/user2.jpg' %}" alt="user2">
                                    </div>
                                    <div class="comment_content">
                                        <div class="d-flex">
                                            <div class="meta_data">
                                                <h6><a href="#">Sarah Taylor</a></h6>
                                                <div class="comment-time">MARCH 5, 2018, 6:05 PM</div>
                                            </div>
                                            <div class="ml-auto">
                                                <a href="#" class="comment-reply"><i class="ion-reply-all"></i>Reply</a>
                                            </div>
                                        </div>
                                        <p>We denounce With righteous indignation and dislike men who are so beguiled
                                            and demoralized by the charms of pleasure of the moment, so blinded by
                                            desire that the cannot foresee the pain and trouble.</p>
                                    </div>
                                </div>
                                <ul class="children">
                                    <li class="comment_info">
                                        <div class="d-flex">
                                            <div class="comment_user">
                                                <img src="{% static 'assets/images/user3.jpg' %}" alt="user3">
                                            </div>
                                            <div class="comment_content">
                                                <div class="d-flex align-items-md-center">
                                                    <div class="meta_data">
                                                        <h6><a href="#">John Becker</a></h6>
                                                        <div class="comment-time">april 8, 2018, 5:15 PM</div>
                                                    </div>
                                                    <div class="ml-auto">
                                                        <a href="#" class="comment-reply"><i
                                                                class="ion-reply-all"></i>Reply</a>
                                                    </div>
                                                </div>
                                                <p>We denounce With righteous indignation and dislike men who are so
                                                    beguiled and demoralized by the charms of pleasure of the moment, so
                                                    blinded by desire that the cannot foresee the pain and trouble.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="comment_info">
                                <div class="d-flex">
                                    <div class="comment_user">
                                        <img src="{% static 'assets/images/user4.jpg' %}" alt="user4">
                                    </div>
                                    <div class="comment_content">
                                        <div class="d-flex">
                                            <div class="meta_data">
                                                <h6><a href="#">Daisy Lana</a></h6>
                                                <div class="comment-time">april 15, 2018, 10:30 PM</div>
                                            </div>
                                            <div class="ml-auto">
                                                <a href="#" class="comment-reply"><i class="ion-reply-all"></i>Reply</a>
                                            </div>
                                        </div>
                                        <p>We denounce With righteous indignation and dislike men who are so beguiled
                                            and demoralized by the charms of pleasure of the moment, so blinded by
                                            desire that the cannot foresee the pain and trouble.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="content_title">
                            <h5>Leave a comment</h5>
                        </div>
                        <form name="enq" method="post">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <input name="name" class="form-control" placeholder="Your Name" required="required"
                                        type="text">
                                </div>
                                <div class="form-group col-md-4">
                                    <input name="email" class="form-control" placeholder="Your Email"
                                        required="required" type="email">
                                </div>
                                <div class="form-group col-md-4">
                                    <input name="website" class="form-control" placeholder="Your Website"
                                        required="required" type="text">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea rows="3" name="message" class="form-control" placeholder="Your Comment"
                                        required="required"></textarea>
                                </div>
                                <div class="form-group col-md-12">
                                    <button value="Submit" name="submit" class="btn btn-default"
                                        title="Submit Your Message!" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 mt-3 mt-lg-0">
                    <div class="sidebar">
                        <div class="widget">
                            <h5 class="widget_title">Search</h5>
                            <div class="search_form">
                                <form>
                                    <input required="" class="form-control" placeholder="Search..." type="text">
                                    <button type="submit" title="Subscribe" class="btn icon_search" name="submit"
                                        value="Submit">
                                        <i class="ion-ios-search-strong"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget_title">Recent Posts</h5>
                            <ul class="widget_recent_post">
                                <li>
                                    <div class="post_footer">
                                        <div class="post_img">
                                            <a href="#"><img src="{% static 'assets/images/letest_post1.jpg' %}"
                                                    alt="letest_post1"></a>
                                        </div>
                                        <div class="post_content">
                                            <h6><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h6>
                                            <p class="small m-0">April 14, 2018</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="post_footer">
                                        <div class="post_img">
                                            <a href="#"><img src="{% static 'assets/images/letest_post2.jpg' %}"
                                                    alt="letest_post2"></a>
                                        </div>
                                        <div class="post_content">
                                            <h6><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h6>
                                            <p class="small m-0">April 14, 2018</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="post_footer">
                                        <div class="post_img">
                                            <a href="#"><img src="{% static 'assets/images/letest_post3.jpg' %}"
                                                    alt="letest_post3"></a>
                                        </div>
                                        <div class="post_content">
                                            <h6><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h6>
                                            <p class="small m-0">April 14, 2018</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget_title">Categories</h5>
                            <ul class="widget_categories">
                                <li><a href="#"><span class="categories_name">Lifestyle</span><span
                                            class="categories_num">(7)</span></a></li>
                                <li><a href="#"><span class="categories_name">Design</span><span
                                            class="categories_num">(15)</span></a></li>
                                <li><a href="#"><span class="categories_name">Branding</span><span
                                            class="categories_num">(8)</span></a></li>
                                <li><a href="#"><span class="categories_name">Marketing</span><span
                                            class="categories_num">(16)</span></a></li>
                                <li><a href="#"><span class="categories_name">Creative</span><span
                                            class="categories_num">(12)</span></a></li>
                                <li><a href="#"><span class="categories_name">Lifestyle</span><span
                                            class="categories_num">(11)</span></a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget_title">tags</h5>
                            <div class="tags">
                                <a href="#">General</a>
                                <a href="#">Design</a>
                                <a href="#">jQuery</a>
                                <a href="#">Branding</a>
                                <a href="#">Modern</a>
                                <a href="#">Blog</a>
                                <a href="#">Quotes</a>
                                <a href="#">Advertisement</a>
                            </div>
                        </div>
                        <div class="widget">
                            <h6 class="widget_title text-uppercase">Instagram</h6>
                            <ul class="widget_instafeed instafeed_col3">
                                <li><a href="#"><img src="{% static 'assets/images/insta_img1.jpg' %}" alt="insta_img"><span
                                            class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="{% static 'assets/images/insta_img2.jpg' %}" alt="insta_img"><span
                                            class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="{% static 'assets/images/insta_img3.jpg' %}" alt="insta_img"><span
                                            class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="{% static 'assets/images/insta_img4.jpg' %}" alt="insta_img"><span
                                            class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="{% static 'assets/images/insta_img5.jpg' %}" alt="insta_img"><span
                                            class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="{% static 'assets/images/insta_img6.jpg' %}" alt="insta_img"><span
                                            class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION BLOG -->

    <!-- START FOOTER -->
    {% include 'include/footer.html' %}
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
{% endblock %}