{% include 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- END LOADER -->

    <!-- START HEADER -->
    {% include 'include/header.html' %}
    <!-- END HEADER -->

    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section background_bg overlay_bg_50 page_title_light"
        data-img-src="{% static 'assets/images/cart_bg.jpg' %}">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Shopping Cart</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Shopping Cart</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive shop_cart_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="product-thumbnail"><a href="#"><img src="{% static 'assets/images/cart_thamb1.jpg' %}"
                                                alt="product1"></a></td>
                                    <td class="product-name" data-title="Product"><a href="#">Berry Salad</a></td>
                                    <td class="product-price" data-title="Price">$45.00</td>
                                    <td class="product-quantity" data-title="Quantity">
                                        <div class="quantity">
                                            <input type="button" value="-" class="minus">
                                            <input type="text" name="quantity" value="2" title="Qty" class="qty"
                                                size="4">
                                            <input type="button" value="+" class="plus">
                                        </div>
                                    </td>
                                    <td class="product-subtotal" data-title="Total">$90.00</td>
                                    <td class="product-remove" data-title="Remove"><a href="#"><i
                                                class="ti-close"></i></a></td>
                                </tr>
                                <tr>
                                    <td class="product-thumbnail"><a href="#"><img src="{% static 'assets/images/cart_thamb2.jpg' %}"
                                                alt="product2"></a></td>
                                    <td class="product-name" data-title="Product"><a href="#">Milky Fruit</a></td>
                                    <td class="product-price" data-title="Price">$55.00</td>
                                    <td class="product-quantity" data-title="Quantity">
                                        <div class="quantity">
                                            <input type="button" value="-" class="minus">
                                            <input type="text" name="quantity" value="1" title="Qty" class="qty"
                                                size="4">
                                            <input type="button" value="+" class="plus">
                                        </div>
                                    </td>
                                    <td class="product-subtotal" data-title="Total">$55.00</td>
                                    <td class="product-remove" data-title="Remove"><a href="#"><i
                                                class="ti-close"></i></a></td>
                                </tr>
                                <tr>
                                    <td class="product-thumbnail"><a href="#"><img src="{% static 'assets/images/cart_thamb3.jpg' %}"
                                                alt="product3"></a></td>
                                    <td class="product-name" data-title="Product"><a href="#">Egg Bread</a></td>
                                    <td class="product-price" data-title="Price">$68.00</td>
                                    <td class="product-quantity" data-title="Quantity">
                                        <div class="quantity">
                                            <input type="button" value="-" class="minus">
                                            <input type="text" name="quantity" value="3" title="Qty" class="qty"
                                                size="4">
                                            <input type="button" value="+" class="plus">
                                        </div>
                                    </td>
                                    <td class="product-subtotal" data-title="Total">$204.00</td>
                                    <td class="product-remove" data-title="Remove"><a href="#"><i
                                                class="ti-close"></i></a></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="px-0">
                                        <div class="row no-gutters align-items-center">

                                            <div class="col-lg-4 col-md-6 mb-3 mb-md-0">
                                                <div class="coupon field_form input-group">
                                                    <input type="text" value="" class="form-control form-control-sm"
                                                        placeholder="Enter Coupon Code..">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-default btn-sm" type="submit">Apply
                                                            Coupon</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-6 text-left text-md-right">
                                                <button class="btn btn-dark btn-sm" type="submit">Update Cart</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="medium_divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="cart_totals">
                        <div class="heading_s1 mb-3">
                            <h6>Cart Totals</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="cart_total_label">Cart Subtotal</td>
                                        <td class="cart_total_amount">$349.00</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">Shipping</td>
                                        <td class="cart_total_amount">Free Shipping</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">Total</td>
                                        <td class="cart_total_amount"><strong>$349.00</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="#" class="btn btn-default">Proceed To CheckOut</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->

    <!-- START FOOTER -->
    {% include 'include/footer.html' %}
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
{% endblock %}