{% include 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- END LOADER -->

    <!-- START HEADER -->
    {% include 'include/header.html' %}
    <!-- END HEADER -->

    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section background_bg overlay_bg_50 page_title_light"
        data-img-src="{% static 'assets/images/chef_bg.jpg' %}">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Our Chef</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Chef</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->

    <!-- START SECTION TEAM -->
    <div class="section pb_70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.03s">
                    <div class="team_box team_style1 radius_all_10">
                        <div class="team_img">
                            <img src="{% static 'assets/images/team_img1.jpg' %}" alt="team_img1">
                            <ul class="social_icons social_white">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                        <div class="team_content">
                            <div class="team_title">
                                <h4>Anders Stone</h4>
                                <span>The Chef</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.04s">
                    <div class="team_box team_style1 radius_all_10">
                        <div class="team_img">
                            <img src="{% static 'assets/images/team_img2.jpg' %}" alt="team_img2">
                            <ul class="social_icons social_white">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                        <div class="team_content">
                            <div class="team_title">
                                <h4>Laura Martin</h4>
                                <span>The Chef</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.05s">
                    <div class="team_box team_style1 radius_all_10">
                        <div class="team_img">
                            <img src="{% static 'assets/images/team_img3.jpg' %}" alt="team_img3">
                            <ul class="social_icons social_white">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                        <div class="team_content">
                            <div class="team_title">
                                <h4>Adam Smith</h4>
                                <span>The Chef</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.06s">
                    <div class="team_box team_style1 radius_all_10">
                        <div class="team_img">
                            <img src="{% static 'assets/images/team_img4.jpg' %}" alt="team_img4">
                            <ul class="social_icons social_white">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                        <div class="team_content">
                            <div class="team_title">
                                <h4>Bruce Flores</h4>
                                <span>The Chef</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.03s">
                    <div class="team_box team_style1 radius_all_10">
                        <div class="team_img">
                            <img src="{% static 'assets/images/team_img5.jpg' %}" alt="team_img5">
                            <ul class="social_icons social_white">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                        <div class="team_content">
                            <div class="team_title">
                                <h4>Corey Bell</h4>
                                <span>The Chef</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.04s">
                    <div class="team_box team_style1 radius_all_10">
                        <div class="team_img">
                            <img src="{% static 'assets/images/team_img6.jpg' %}" alt="team_img6">
                            <ul class="social_icons social_white">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                        <div class="team_content">
                            <div class="team_title">
                                <h4>Digby Brook</h4>
                                <span>The Chef</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.05s">
                    <div class="team_box team_style1 radius_all_10">
                        <div class="team_img">
                            <img src="{% static 'assets/images/team_img7.jpg' %}" alt="team_img7">
                            <ul class="social_icons social_white">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                        <div class="team_content">
                            <div class="team_title">
                                <h4>Ellery Callen</h4>
                                <span>The Chef</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.06s">
                    <div class="team_box team_style1 radius_all_10">
                        <div class="team_img">
                            <img src="{% static 'assets/images/team_img8.jpg' %}" alt="team_img8">
                            <ul class="social_icons social_white">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                        <div class="team_content">
                            <div class="team_title">
                                <h4>Foster Chase</h4>
                                <span>The Chef</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION TEAM -->

    <!-- START FOOTER -->
    {% include 'include/footer.html' %}
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
{% endblock %}