{% include 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- END LOADER -->

    <!-- START HEADER -->
    {% include 'include/header.html' %}
    <!-- END HEADER -->

    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section background_bg overlay_bg_50 page_title_light"
        data-img-src="{% static 'assets/images/chef_detail_bg.jpg' %}">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Chef Detail</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Chef Detail</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->

    <!-- START SECTION TEAM -->
    <div class="section small_pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="team_single">
                        <div class="team_img">
                            <img src="{% static 'assets/images/team_img_big.jpg' %}" alt="team_img_big">
                        </div>
                        <div class="team_single_info">
                            <div class="team_name">
                                <h4>Anders Stone</h4>
                                <span>The Chef</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="team_detail">
                        <div class="teacher_desc">
                            <div class="heading_s1 mb-3">
                                <h5>About Us</h5>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam vero expedita fugiat
                                illo quasi doloremque, in unde omnis sint assumenda! Quaerat in, reprehenderit corporis
                                voluptatum natus sequi reiciendis ullam. Quam eaque dolorum voluptates cupiditate
                                explicabo.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.</p>
                        </div>
                        <div class="heading_s1 mb-2 mb-sm-3">
                            <h5>Basic Info</h5>
                        </div>
                        <ul class="profile_info">
                            <li>
                                <span class="title">Age:</span>
                                <p>29 Years</p>
                            </li>
                            <li>
                                <span class="title">Phone No:</span>
                                <p>+ (123) 1512-578</p>
                            </li>
                            <li>
                                <span class="title">Email ID:</span>
                                <a href="mailto:info@sitename.com">mymail@gmail.com</a>
                            </li>
                            <li>
                                <span class="title mt-2">Share:</span>
                                <ul class="list_none social_icons">
                                    <li><a href="#" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
                                    <li><a href="#" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
                                    <li><a href="#" class="sc_gplus"><i class="ion-social-googleplus"></i></a></li>
                                    <li><a href="#" class="sc_instagram"><i
                                                class="ion-social-instagram-outline"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section small_pt pb_70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="heading_s1 text-center">
                        <h2>My Works</h2>
                    </div>
                    <p class="text-center leads">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                    <ul class="grid_container grid_col3 gutter_medium image_gallery gallery_hover_style1">
                        <li class="grid-sizer"></li>
                        <li class="grid_item">
                            <div class="image_gallery_item">
                                <a href="{% static 'assets/images/gallery_item1.jpg' %}">
                                    <div class="gallery_img">
                                        <img src="{% static 'assets/images/gallery_item_small1.jpg' %}" alt="image">
                                    </div>
                                    <div class="gallary_hover_box">
                                        <i class="ti-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="grid_item">
                            <div class="image_gallery_item">
                                <a href="{% static 'assets/images/gallery_item2.jpg' %}">
                                    <div class="gallery_img">
                                        <img src="{% static 'assets/images/gallery_item_small2.jpg' %}" alt="image">
                                    </div>
                                    <div class="gallary_hover_box">
                                        <i class="ti-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="grid_item">
                            <div class="image_gallery_item">
                                <a href="{% static 'assets/images/gallery_item3.jpg' %}">
                                    <div class="gallery_img">
                                        <img src="{% static 'assets/images/gallery_item_small3.jpg' %}" alt="image">
                                    </div>
                                    <div class="gallary_hover_box">
                                        <i class="ti-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="grid_item">
                            <div class="image_gallery_item">
                                <a href="{% static 'assets/images/gallery_item4.jpg' %}">
                                    <div class="gallery_img">
                                        <img src="{% static 'assets/images/gallery_item_small4.jpg' %}" alt="image">
                                    </div>
                                    <div class="gallary_hover_box">
                                        <i class="ti-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="grid_item">
                            <div class="image_gallery_item">
                                <a href="{% static 'assets/images/gallery_item5.jpg' %}">
                                    <div class="gallery_img">
                                        <img src="{% static 'assets/images/gallery_item_small5.jpg' %}" alt="image">
                                    </div>
                                    <div class="gallary_hover_box">
                                        <i class="ti-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="grid_item">
                            <div class="image_gallery_item">
                                <a href="{% static 'assets/images/gallery_item6.jpg' %}">
                                    <div class="gallery_img">
                                        <img src="{% static 'assets/images/gallery_item_small6.jpg' %}" alt="image">
                                    </div>
                                    <div class="gallary_hover_box">
                                        <i class="ti-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION TEAM -->

    <!-- START FOOTER -->
    {% include 'include/footer.html' %}
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
{% endblock %}