{% include 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- END LOADER -->

    <!-- START HEADER -->
    {% include 'include/header.html' %}
    <!-- END HEADER -->

    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section background_bg overlay_bg_50 page_title_light"
        data-img-src="{% static 'assets/images/login_bg.jpg' %}">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1>Register</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Register</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->

    <!-- START SECTION LOGIN -->
    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="lr_form box_shadow1 radius_all_10 animation" data-animation="fadeInUp"
                        data-animation-delay="0.02s">
                        <div class="heading_s1 text-center pb-md-3">
                            <h2>Register New Account</h2>
                        </div>
                        <form method="post" class="form_style1">
                            <div class="form-group">
                                <input type="text" required="" class="form-control" name="name"
                                    placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input type="text" required="" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input class="form-control" required="" type="password" name="password"
                                    Placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input class="form-control" required="" type="password" name="cpassword"
                                    Placeholder="Confirm Password">
                            </div>
                            <div class="login_footer form-group">
                                <div class="chek-form">
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox"
                                            id="exampleCheckbox3" value="">
                                        <label class="form-check-label" for="exampleCheckbox3">I accept the <a href="#"
                                                class="text_default">Terms of use</a> &amp; <a href="#"
                                                class="text_default">Privacy Policy.</a></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default btn-block" name="register">Create
                                    Account</button>
                            </div>
                        </form>
                        <div class="different_login">
                            <h5>Or Register with social network</h5>
                            <ul class="list_none text-center social_icons radius_social">
                                <li><a href="#" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#" class="sc_google"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#" class="sc_instagram"><i class="ion-social-instagram-outline"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="form-note text-center">Already have an account? <a href="login.html"
                                class="text_default">Sign in</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION LOGIN -->

    <!-- START FOOTER -->
    {% include 'include/footer.html' %}
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
{% endblock %}